@import "tailwindcss";

[x-cloak] { display: none !important; }

@theme {
  --font-text: "Inter", sans-serif;
  --font-text-tight: "Inter Tight", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;
}

@view-transition {
  navigation: auto;
}

::selection {
  background-color: var(--color-green-400);
  color: black;
}

:root, 
* {
  scrollbar-width: thin;
}


.link {
  @apply transition-all;

  &:hover {
    color: var(--color-green-500);
    text-decoration-color: var(--color-green-500);

    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.1rem;
    text-decoration-skip-ink: none;

    @variant dark {
      color: var(--color-green-300);
      text-decoration-color: var(--color-green-300);
    }
  }
}