@import "tailwindcss";

[x-cloak] { display: none !important; }

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@theme {
  --font-sans: "InterVariable", "Inter", sans-serif;
}
/*
@supports (font-variation-settings: normal) {
  @theme {
  --font-sans: "InterVariable", sans-serif;
  }
}
*/

.link {
  @apply transition-all;

  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.15em;

  text-decoration-color: var(--color-neutral-500);

  &:hover {
    text-decoration-color: var(--color-neutral-950);
    text-decoration-thickness: 0.12em;

    @variant dark {
      text-decoration-color: var(--color-neutral-50);
    }
  }

  &:active {
    opacity: 50%;
  }
}

