@import "tailwindcss";

[x-cloak] { display: none !important; }

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@theme {
  --font-sans: "InterVariable", "Inter", sans-serif;

  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-350: oklch(0.8 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.230 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);
}
/*
@supports (font-variation-settings: normal) {
  @theme {
  --font-sans: "InterVariable", sans-serif;
  }
}
*/

.link {
  @apply transition-all;

  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.15em;

  text-decoration-color: var(--color-neutral-500);

  &:hover {
    text-decoration-color: var(--color-neutral-950);
    text-decoration-thickness: 0.12em;

    @variant dark {
      text-decoration-color: var(--color-neutral-50);
    }
  }

  &:active {
    opacity: 50%;
  }
}

