---
import MainLayout from "../layouts/MainLayout.astro";
import Title from "../components/Title.astro";
---

<MainLayout>
  <Title> Michael Mandic </Title>
  <h2
    class="text-4xl sm:text-5xl pb-4  text-neutral-950 dark:text-neutral-50 font-semibold"
  >
    404
  </h2>
  <p class="leading-6 tracking-wide">Page could not be found.</p>
</MainLayout>
