---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-xl pb-1 mt-6">404</h1>
  <p class="text-pretty text-xl text-neutral-300">
    Page could not be found.
  </p>
</MainLayout>
