---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <Hero title="404">
    <p class="font-text px-5 leading-[1.5em] text-balance">Page not found.</p>
  </Hero>
</MainLayout>
