---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import MainHero from "../components/MainHero.astro";
import SocialRow from "../components/SocialRow.astro";
---

<MainLayout>
  <MainHero>
    <p
      class="font-text px-5 leading-[1.5em] mb-4 text-balance text-black dark:text-white"
    >
      Software engineer based in Belgrade, citizen of Serbia and the EU.
    </p>
    <SocialRow />
    <div x-data="{ expanded: false }" class="font-text px-5 leading-[1.5em]">
      <p :class="expanded ? 'block' : 'inline'">
        I've been into computers for as long as I can remember. It probably
        started with video games, but what really stuck with me was the idea of
        creating my own digital experiences. That curiosity eventually grew into
        a love for building software.
      </p>

      <div x-show="expanded" x-transition.origin.top.left class="mt-4">
        <p class="mb-4">
          These days, I'm most interested in web development; the web feels like
          a massive portal where you can instantly share something you've built
          with the world. Still, I enjoy exploring all kinds of software and
          seeing how different technologies fit together.
        </p>
        <p class="mb-4">
          When I want to learn something new, I just dive in and start building.
          I like creating things I can be proud of, and I try to write code
          that's clean, readable and flexible enough to grow with the project.
          And above all, I think it's important to respect the people who use
          what I make.
        </p>
        <p class="mb-4">
          Outside of coding, I spend my time gaming, listening to music or
          watching a movie or show. I also have a habit of going down rabbit
          holes; when I find something new and interesting, I tend to dive deep
          into it, learning everything I can until I've satisfied my curiosity
          (or until something else catches my attention).
        </p>
        <p class="mb-4">
          I'm always open to new opportunities, whether that's freelance work,
          an internship or something bigger, as long as it gives me a chance to
          learn, improve and make something useful.
        </p>
      </div>

      <button
        @click="expanded = !expanded"
        class="link hover:cursor-pointer dark:text-emerald-300 text-emerald-500"
        ><span x-text="expanded ? 'Less' : 'More'"></span></button
      >
    </div>
  </MainHero>

  <hr
    class="mt-5 mb-16 mx-5 border-none h-0.5 bg-neutral-200 dark:bg-neutral-800"
  />

  <Section title="Education">
    <span class="px-5 block font-text text-xs mb-0.5">2024 - Present </span>
    <p
      class="font-text px-5 leading-[1.5em] text-black dark:text-white text-balance"
    >
      BEng in Software Engineering
    </p>
    <span class="px-5 block font-text mt-0.5 text-xs"
      >University of Belgrade, School of Electrical Engineering
    </span>
  </Section>

  <Section title="Skills">
    <ul
      class="font-text text-black dark:text-white px-5 leading-[1.5em] text-balance flex flex-col gap-2"
    >
      <li>
        <small
          class="font-text block text-xs text-neutral-500 dark:text-neutral-400"
          >Programming Languages & Frameworks
        </small>Python, C++, JavaScript, HTML/CSS, React, Next.js, TailwindCSS
      </li>
      <li>
        <small
          class="font-text block text-xs text-neutral-500 dark:text-neutral-400"
          >Tools</small
        >Git, Linux, VS Code, PyCharm, Figma, MS Office/365
      </li>
      <li>
        <small
          class="font-text block text-xs text-neutral-500 dark:text-neutral-400"
          >Languages</small
        >
        English (Fluent), Serbian (Native), German (Conversational)
      </li>
    </ul>
  </Section>

  <!-- <Section title="Projects">
    <p class="font-text px-5 leading-[1.5em] text-balance">...</p>
  </Section>

  <Section title="Blog">
    <p class="font-text px-5 leading-[1.5em] text-balance">...</p>
  </Section> -->

  <Section title="Contact">
    <p class="font-text px-5 leading-[1.5em]">
      Send me an email to this domain or to <a
        href="mailto:mihajlomandic27@gmail.com"
        target="_blank"
        class="link dark:text-emerald-300 text-emerald-500"
        >mihajlomandic27@gmail.com</a
      >, or message me on <a
        href="https://www.linkedin.com/in/michael-mandic/"
        target="_blank"
        class="link dark:text-emerald-300 text-emerald-500">LinkedIn</a
      >!
    </p>
  </Section>
</MainLayout>
