---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="font-display text-3xl font-medium mt-16 mb-2 px-5">
    Hello World, I'm Mike
  </h1>
  <p class="font-text text-neutral-300 px-5 leading-[1.5em] text-balance">
    I'm a software engineer based in Belgrade, citizen of Serbia and the EU.
  </p>
  <h2 class="font-display text-2xl font-medium mt-16 mb-2 px-5">Education</h2>
  <small class="px-5 block font-text text-xs text-neutral-400">2024 - Present </small>
  <p class="font-text px-5 leading-[1.5em] text-balance">
    BEng in Software Engineering
  </p>
  <small class="px-5 block font-text text-xs text-neutral-400"
    >University of Belgrade, School of Electrical Engineering
  </small>
  <h2 class="font-display text-2xl font-medium mt-16 mb-2 px-5">Skills</h2>
  <ul class="font-text text-neutral-300 px-5 leading-[1.5em] text-balance flex flex-col gap-2">
    <li>
      <small class="font-text block text-xs text-neutral-400"
        >Programming Languages & Frameworks
      </small>Python, C++, JavaScript, HTML/CSS, React, Next.js, TailwindCSS
    </li>
    <li>
      <small class="font-text block text-xs text-neutral-400">Tools</small>Git,
      Linux, VS Code, PyCharm, Figma, MS Office/365
    </li>
    <li>
      <small class="font-text block text-xs text-neutral-400">Languages</small>
      English (Fluent), Serbian (Native), German (Conversational)
    </li>
  </ul>
  <h2 class="font-display text-2xl font-medium mt-16 mb-2 px-5">Projects</h2>
  <p class="font-text text-neutral-300 px-5 leading-[1.5em] text-balance">
    ...
  </p>
  <h2 class="font-display text-2xl font-medium mt-16 mb-2 px-5">Blog</h2>
  <p class="font-text text-neutral-300 px-5 leading-[1.5em] text-balance">
    ...
  </p>
  <h2 class="font-display text-2xl font-medium mt-16 mb-2 px-5">Contact</h2>
  <p class="font-text text-neutral-300 px-5 leading-[1.5em] text-balance">
    You can reach out to me via email or LinkedIn.
  </p>
</MainLayout>
