---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-center font-display text-4xl mb-4 font-semibold mt-50 px-6">
    Hi, I'm Mike
  </h1>
  <p class="px-6 font-display text-center text-4xl text-balance">
    Software engineer based in Belgrade, citizen of Serbia and the EU
  </p>
</MainLayout>
