---
import MainLayout from "../layouts/MainLayout.astro";
import Title from "../components/Title.astro";
---

<MainLayout>
  <Title collapsed={false}> Michael Mandic </Title>
  <p class="leading-6 tracking-wide">
    I'm a software engineer based in Belgrade, and a citizen of Serbia and the
    EU. I've loved computers since I was a kid, and that curiosity grew into a
    drive to learn, build and solve problems through code. I'm always open to
    connect and explore new opportunities in tech!
  </p>
  <ul
    class="pt-4 flex gap-x-4 gap-y-2 flex-row font-medium text-neutral-950 dark:text-neutral-50 flex-wrap"
  >
    <li>
      <a
        href="https://www.linkedin.com/in/michael-mandic/"
        target="_blank"
        class="link"
        rel="noopener noreferrer">LinkedIn</a
      >
    </li>
    <li>
      <a
        href="https://github.com/michaelmandic"
        target="_blank"
        class="link"
        rel="noopener noreferrer">GitHub</a
      >
    </li>
    <li>
      <a
        href="mailto:mihajlomandic27@gmail.com"
        target="_blank"
        class="link"
        rel="noopener noreferrer">mihajlomandic27@gmail.com</a
      >
    </li>
  </ul>

  <section class="pt-16">
    <h2
      class="font-semibold pb-4 text-neutral-950 dark:text-neutral-50 text-3xl"
    >
      Education
    </h2>
    <div class="flex w-full justify-between">
      <h3
        class="text-neutral-950 dark:text-neutral-50 text-balance font-medium"
      >
        University of Belgrade, School of Electrical Engineering
      </h3>
      <small class="text-end text-balance text-xs basis-30">2024 - Now</small>
    </div>
    <p>BSc Software Engineering</p>
  </section>

  <section class="pt-16">
    <h2
      class="font-semibold pb-4 text-neutral-950 dark:text-neutral-50 text-3xl"
    >
      Skills
    </h2>
    <div>
      <h3 class="text-sm text-balance">Programming Languages & Frameworks</h3>
      <p class="text-neutral-950 dark:text-neutral-50 font-medium">
        Python, JavaScript, HTML/CSS, C, C++, Astro, Tailwind CSS
      </p>
    </div>
    <div>
      <h3 class="text-sm text-balance pt-4">Tools</h3>
      <p class="text-neutral-950 dark:text-neutral-50 font-medium">
        VS Code, Visual Studio, JetBrains IDEs, Git, GitHub, Linux, MS
        365/Office
      </p>
    </div>
    <div>
      <h3 class="text-sm text-balance pt-4">Languages</h3>
      <p class="text-neutral-950 dark:text-neutral-50 font-medium">
        English (Fluent), Serbian (Native), German (Conversational)
      </p>
    </div>
  </section>
</MainLayout>
