---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <Hero title="Projects">
    <p class="font-text px-5 leading-[1.5em] text-balance">Page in construction.</p>
  </Hero>
</MainLayout>
