---
import { Home, AppWindow, Text } from "@lucide/astro";

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Home", icon: Home },
  { href: "/projects", label: "Projects", icon: AppWindow },
  { href: "/blog", label: "Blog", icon: Text },
];
---

<nav
  class="backdrop-blur-3xl lg:hidden fixed bottom-0 w-full z-50 flex justify-center items-center pt-3 pb-5 transform translate-y-[0.5px]"
>
  <ul
    class="flex justify-evenly w-full items-center text-neutral-500 dark:text-neutral-400"
  >
    {
      links.map(({ href, label, icon: Icon }) => {
        const isActive =
          currentPath === href || currentPath.startsWith(href + "/");
        return (
          <li>
            <a
              href={href}
              class={`flex w-16 flex-col justify-center items-center gap-0.5 ${isActive ? "dark:text-emerald-300 text-emerald-500" : ""}`}
            >
              <Icon size={24} stroke-width={1.5} absoluteStrokeWidth={true} />
              <span class="text-xs">{label}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
