---
import { Heart } from "@lucide/astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="px-5 text-neutral-500 dark:text-neutral-400 text-center font-text mt-25 text-xs pb-10 gap-1 flex justify-center items-center flex-col"
>
  <p>{currentYear} © Michael Mandic</p>
  <p>
    Source code under
    <a
      href="https://github.com/michaelmandic/personal-website/blob/main/LICENSE"
      target="_blank"
      class="link"
    >
      MIT license
    </a>
  </p>
  <p>
    Written content under
    <a
      href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
      target="_blank"
      class="link"
    >
      CC BY-NC-ND 4.0 license
    </a>
  </p>
  <p>
    Made with <Heart
      size={14}
      stroke-width={0}
      fill="currentColor"
      class="inline align-text-top dark:text-emerald-300 text-emerald-500"
    />
  </p>
</footer>
