---
import { PanelLeft, PanelLeftClose } from "@lucide/astro";
---

<header
  class="fixed top-0 left-0 w-full pointer-events-none lg:px-7 bg-linear-to-b from-neutral-100 dark:from-neutral-900 to-transparent h-30 items-start flex justify-center"
>
  <div
    class="flex items-center justify-between px-5 w-full py-5 max-w-3xl pointer-events-auto"
  >
    <div id="header-left flex justify-center h-16 items-center">
      <div
        class="relative flex items-center h-8 font-display dark:text-emerald-300 text-emerald-500"
      >
        <a
          href="/"
          x-cloak
          x-show="!scrolled"
          x-transition:enter="transition ease-out duration-300 delay-100"
          x-transition:enter-start="opacity-0 scale-100"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="transition ease-out duration-100"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-100"
          class="absolute left-0 w-max hover:opacity-50 active:scale-95 transition-all tracking-tight text-xl font-medium"
        >
          Michael Mandic
        </a>
        <a
          href="/"
          x-cloak
          x-show="scrolled"
          x-transition:enter="transition ease-out duration-300 delay-100"
          x-transition:enter-start="opacity-0 scale-100"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="transition ease-out duration-100"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-100"
          class="absolute left-0 w-max hover:opacity-50 active:scale-95 transition-all font-black text-3xl"
        >
          M
        </a>
      </div>
    </div>
    <div id="header-right flex items-center justify-center">
      <button
        @click="sidebarOpen = !sidebarOpen"
        class="text-neutral-500 dark:text-neutral-400 block hover:opacity-50 active:scale-95 hover:cursor-pointer transition-colors lg:hidden"
      >
        <PanelLeft
          x-show="!sidebarOpen"
          size={16}
          stroke-width={1.5}
          absoluteStrokeWidth={true}
        />
        <PanelLeftClose
          x-show="sidebarOpen"
          size={16}
          stroke-width={1.5}
          absoluteStrokeWidth={true}
        />
        <span class="sr-only">Toggle sidebar</span>
      </button>
    </div>
  </div>
</header>
