---
import { PanelLeft, PanelLeftClose } from "@lucide/astro";
---

<header
  class="fixed top-0 left-0 w-full px-5 lg:px-7 bg-linear-to-b from-neutral-900 to-transparent from h-16 items-center flex justify-between "
>
  <div id="header-left">
    <a href="/" class="font-display   text-lg lg:text-xl"
      ><span x-text="scrolled ? 'M' : 'Michael Mandic'" class="transition-all"
      ></span></a
    >
  </div>
  <div id="header-right">
    <button
      @click="sidebarOpen = !sidebarOpen"
      class="text-neutral-500 hover:text-black hover:dark:text-white hover:cursor-pointer transition-colors lg:hidden"
    >
      <PanelLeft
        x-show="!sidebarOpen"
        size={16}
        stroke-width={1.5}
        absoluteStrokeWidth={true}
      />
      <PanelLeftClose
        x-show="sidebarOpen"
        size={16}
        stroke-width={1.5}
        absoluteStrokeWidth={true}
      />
      <span class="sr-only">Toggle sidebar</span>
    </button>
  </div>
</header>
