---
const { title } = Astro.props;
---

<section class="text-neutral-500 dark:text-neutral-400">
  <h1
    class="font-display tracking-tight text-black dark:text-white text-3xl font-medium mb-2 px-5"
  >
    {title}
  </h1>
  <slot />
</section>
