<section class="text-neutral-500 dark:text-neutral-400">
  <span class="px-6">Hello world, I'm</span>
  <h1
    class="font-display dark:text-emerald-300 text-emerald-500 text-4xl font-black  px-6"
  >
    Michael Mandic
  </h1>
  <slot />
</section>
