<section class="text-neutral-500 dark:text-neutral-400">
  <span class="px-5">Hello world, I'm</span>
  <h1
    class="font-display tracking-tight text-black dark:text-white text-4xl font-black mb-1 px-5"
  >
    Michael Mandic
  </h1>
  <slot />
</section>
