---
import { Home, AppWindow, Text } from "@lucide/astro";

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "HOME", icon: Home },
  { href: "/projects", label: "PROJECTS", icon: AppWindow },
  { href: "/blog", label: "BLOG", icon: Text },
];
---

<nav
  class="fixed font-mono bottom-0 lg:top-0 lg:bottom-auto w-full z-50 flex justify-center items-center pb-5 lg:pt-5 lg:pb-0"
>
  <div
    class="bg-white shadow-[0_0_50px_25px_oklch(98.5%_0_0)] dark:shadow-[0_0_50px_25px_hsl(0_0%_8%)] dark:bg-neutral-900 border-[1.5px] rounded-full p-2 border-neutral-200 dark:border-neutral-800"
  >
    <ul
      class="flex justify-between items-center text-neutral-500 dark:text-neutral-400"
    >
      {
        links.map(({ href, label, icon: Icon }) => {
          const isActive =
            currentPath === href || currentPath.startsWith(href + "/");
          return (
            <li>
              <a
                href={href}
                class={`flex w-16 transition-all active:scale-95 hover:text-black dark:hover:text-white gap-0.5 flex-col justify-center items-center  ${isActive ? "dark:text-green-400 text-green-600" : ""}`}
              >
                <Icon size={24} stroke-width={1.5} absoluteStrokeWidth={true} />
                <span class="text-xs">{label}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>
