---
import { Home, AppWindow, Text } from "@lucide/astro";

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Home", icon: Home },
  { href: "/projects", label: "Projects", icon: AppWindow },
  { href: "/blog", label: "Blog", icon: Text },
];
---

<nav
  class="fixed bottom-0 lg:top-1/2 lg:-ml-16 lg:-translate-y-1/2 w-full lg:w-auto z-50 flex justify-center items-center pb-5 lg:p-0"
>
  <div
    class="bg-white drop-shadow-md/10  dark:drop-shadow-lg/100 drop-shadow-neutral-900 dark:bg-neutral-800 border-[1.5px] rounded-full p-2 lg:py-5 border-neutral-200 dark:border-neutral-700 "
  >
    <ul
      class="flex lg:flex-col justify-between items-center text-neutral-500 lg:gap-5 dark:text-neutral-400"
    >
      {
        links.map(({ href, label, icon: Icon }) => {
          const isActive =
            currentPath === href || currentPath.startsWith(href + "/");
          return (
            <li>
              <a
                href={href}
                class={`flex w-16 transition-all active:scale-95 hover:text-black dark:hover:text-white lg:w-auto flex-col justify-center items-center  ${isActive ? "dark:text-green-300 text-green-600" : ""}`}
              >
                <Icon size={24} stroke-width={1.5} absoluteStrokeWidth={true} />
                <span class="text-xs">{label}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>
