---
let { title } = Astro.props;
if (title) {
  title = title.toUpperCase();
}
---

<section class="mb-12 text-forest-500 dark:text-forest-400">
  <h2
    class="font-display tracking-tight text-2xl text-black dark:text-white font-medium mb-4 px-6"
  >
    {title}
  </h2>
  <slot />
</section>
