---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1
    class="text-4xl sm:text-5xl pb-4 mt-4 text-neutral-950 dark:text-neutral-50 font-semibold"
  >
    404
  </h1>
  <p class="leading-6 tracking-wide">Stranica nije pronađena.</p>
</MainLayout>
