---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1
    class="text-2xl pb-4 mt-6 text-neutral-950 dark:text-neutral-50 font-medium"
  >
    404
  </h1>
  <p class="text-pretty text-base/6 tracking-wide">Stranica nije pronađena.</p>
</MainLayout>
