---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1
    class="text-4xl pb-4 mt-4 text-neutral-950 dark:text-neutral-50 font-semibold"
  >
    418
  </h1>
  <p class="text-base/6 tracking-wide">Ja sam Äajnik.</p>
</MainLayout>
